<!DOCTYPE html>
<html>
  <head>
      
      {% block stylesheets %}
        {{encore_entry_link_tags('app')}}
      {% endblock %}
      <script src="https://kit.fontawesome.com/0db354818b.js" crossorigin="anonymous"></script>

      <title>Cemetery - Plot</title>
  </head>

  <body>
    <div style="position:fixed;top:0;width:100%">
      {{ include("navbar.html.twig") }}
    </div>
    <div class="w3-container" style = "margin-top:40px">
    </div>
    {{ form(plot_form) }}
    <div class="w3-container" style = "margin-top:40px">
      <table class="w3-table-all">
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Address</th>
          <th>City</th>
          <th>State</th>
          <th>Phone Number</th>
          <th></th>
        </tr>
        {% for row in plot.owner %} {# simple loop to output rows #}
          <tr>
            <td>{{ row.firstName }}</td>
            <td>{{ row.lastName }}</td>
            <td>{{ row.address }}</td>
            <td>{{ row.city }}</td>
            <td>{{ row.state }}</td>
            <td>{{ row.phoneNum }}</td>
            <td><div class="w3-center"><a href="{{ path('modify_owner',{ id: row.id }) }}" class="w3-button w3-ripple w3-border">Edit</a></div></td>
          </tr>
        {% endfor %}
      </table>
    </div>

  </body>

</html>
