<!DOCTYPE html>
<html>
  <head>
      {% block stylesheets %}
        {{encore_entry_link_tags('app')}}
      {% endblock %}
      
      <title>Cemetery - Owners</title>
  </head>

  <body>
    <div style="position:fixed;top:0;width:100%">
    {{ include("navbar.html.twig") }}
  </div>
    <div class="w3-container" style = "margin-top:40px">
    </div>
      <table class="w3-table-all">
        <tr>
          <th><a href="{{ path('owner_display', { column: 'ownerFullName', order: order }) }}">Full Name</a></th>
          <th><a href="{{ path('owner_display', { column: 'streetAddress', order: order }) }}">Address</a></th>
          <th><a href="{{ path('owner_display', { column: 'city', order: order }) }}">City</a></th>
          <th><a href="{{ path('owner_display', { column: 'state', order: order }) }}">State</a></th>
          <th><a href="{{ path('owner_display', { column: 'phoneNum', order: order }) }}">Phone Number</a></th>
          <th><div class="w3-center"><a href="{{ path('owner_display', { column: 'approval', order: order }) }}">Approval</a></div></th>
        </tr>
        {% for row in result %} {# simple loop to output rows #}
          <tr>
            <td>{{ row.ownerFullName }}</td>
            <td>{{ row.streetAddress }}</td>
            <td>{{ row.city }}</td>
            <td>{{ row.state }}</td>
            <td>{{ row.phoneNum }}</td>
            <td>
              <div class="w3-center"><a href="{{ path('modify_owner',{ owner_id: row.ownerId }) }}" class="w3-button w3-ripple w3-border">Edit</a></div>
              <div class="w3-center"><a href="{{ path('toggle_owner_approval',{ owner_id: row.ownerId }) }}" class="w3-button w3-ripple w3-border {% if row.approval == 0 %}w3-red{% else %}w3-green{% endif %}">{% if row.approval == 0 %}Unapproved{% else %}Approved{% endif %}</a></div>
            </td>
          </tr>
        {% endfor %}
      </table>

  </body>

</html>

