<!DOCTYPE html>
<html>
  <head>
      
      {% block stylesheets %}
        {{encore_entry_link_tags('app')}}
      {% endblock %}
      <script src="https://kit.fontawesome.com/0db354818b.js" crossorigin="anonymous"></script>

      <title>Cemetery - Plots</title>
  </head>

  <body>
    <div style="position:fixed;top:0;width:100%">
      {{ include("navbar.html.twig") }}
    </div>
    <div class="w3-container" style = "margin-top:40px">
    </div>
    <form>
      <div class="w3-row">
        <input type="text"
                name="search"
                class="form-control"
                value="{{ app.request.query.get('search') }}"
                placeholder="Search...">
        <div class="input-group-append">
          <input type="submit"
                  class="w3-button w3-border">
              <span class="fa fa-search"></span>
          </input>
        </div>
      </div>
    </form>
    <p>{% if searched == true %}Results: {{ result.getTotalItemCount }}{% endif %}</p>
    <table class="w3-table-all">
      <div class="barBack">
      <tr>
        <th><div class="w3-border w3-red w3-button w3-ripple stickyHead">{{ knp_pagination_sortable(result, 'Cemetery', 'plot.cemetery') }}</th>
        <th><div class="w3-border w3-red w3-button w3-ripple stickyHead">Plot</th>
        <th><div class="w3-border w3-red w3-button w3-ripple stickyHead">Notes</div></th>
        <th><div class="w3-border w3-red w3-button w3-ripple w3-center stickyHead">{{ knp_pagination_sortable(result, 'Approval', 'plot.approval') }}</div></th>
      </tr>
      <div style = "margin-top:35px">
          {% for row in result %} {# simple loop to output rows #}
            <tr>
              <td>{{ row.cemetery }}</td>
              <td>{{ row.section ~ row.lot ~ row.space}}</td>
              <td>{{ row.notes }}</td>
              <td>
                <div class="w3-center"><a href="{{ path('modify_plot',{ id: row.id }) }}" class="w3-button w3-ripple w3-border">Edit</a></div>
                <div class="w3-center"><a href="{{ path('toggle_plot_approval',{ id: row.id }) }}" class="w3-button w3-ripple w3-border {% if row.approval == 0 %}w3-red{% else %}w3-green{% endif %}">{% if row.approval == 0 %}Unapproved{% else %}Approved{% endif %}</a></div>
              </td>
            </tr>
          {% endfor %}
      </div>
    </table>

    <div class="w3-bar w3-bottom">
      <div class="w3-bar-item">{{ knp_pagination_render(result) }}</div>
    </div>

  </body>

</html>

