<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

      <title>Cemetery - Display</title>
  </head>

  <body>
    {{ include("navbar.html.twig") }}
    <div class="w3-container">
    </div>
      <table class="w3-table-all">
        <tr>
          <th>ID</th>
          <th>Cemetery</th>
          <th>Section</th>
          <th>Lot</th>
          <th>Space</th>
        </tr>
        {% for row in plot %} {# simple loop to output rows #}
          <tr>
            <td>{{ row.plotId }}</td>
            <td>{{ row.cemetery }}</td>
            <td>{{ row.section }}</td>
            <td>{{ row.lot }}</td>
            <td>{{ row.space }}</td>
          </tr>
        {% endfor %}
      </table>

  </body>

</html>

