<!DOCTYPE html>
<html>
{% block stylesheets %}
  {{encore_entry_link_tags('app')}}
{% endblock %}
{% import _self as plotMacros %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<head>
<div style= "position:fixed;top:0">
  {{ include("navbar.html.twig")}}
</div>
<div style = "margin-top:40px">
</head>
<h2><b> Cemetery Lot Purchase Goshen City Cemeteries </b></h2>
<p>

<h3><b> Owner/Buyer Information: </b></h3>
 
    <style>.error{color:#FF0000;}</style>
  <p> <span class="error">* required field</span></p>
<form method="post" target="_self">

    <label><b> Date: </b></label> 
    <span class="error">* </span>
  <br>
  <input type="numbers" required> 
  <p>


{% macro printPlotFieldRow(plotField) %}
  <div class="plot-fields-list">
    <label>Plot Name</label>
    {{ form_label(plotField.cemetery) }}
    <br>
    {{ form_widget(plotField.cemetery) }}
  </div>
{% endmacro %}



{{ form_start(form) }}

<div id="owner-fields-list"
    data-prototype="{{ form_widget(form.owner.vars.prototype)|e }}"
    data-widget-tags="{{ '<p></p>'|e }}"
    data-widget-counter="{{ form.owner|length }}">
    
<br>
<br>
<body style="background-color:antiquewhite;">
{% for ownerField in form.owner %}
  {{ form_widget(ownerField)}}
{% endfor %}
</div>
<button type="button" class="add-another-collection-widget" data-list-selector="#owner-fields-list">Add Owner</button>


<div id="plot-fields-list"
    data-prototype="{{ form_widget(form.plot.vars.prototype)|e }}"
    data-widget-tags="{{ '<p></p>'|e }}"
    data-widget-counter="{{ form.plot|length }}">
<br>
<br>
<p>Plot(s)</p>
{% for plotField in form.plot %}
  {{ plotField }}
{% endfor %}
</div>
<button type="button" class="add-another-collection-widget" data-list-selector="#plot-fields-list">
Add Plot
</button>

{{ form_row(form.date) }}


{{ form_row(form.submit) }}
{{ form_end(form, {'render_rest': false}) }}
</div>
<script>

  jQuery(document).ready(function () {
    jQuery('.add-another-collection-widget').click(function (e) {
      var list = jQuery(jQuery(this).attr('data-list-selector'));
      // Try to find the counter of the list or use the length of the list
      var counter = list.data('widget-counter') || list.children().length;

      // grab the prototype template
      var newWidget = list.attr('data-prototype');
      // replace the "__name__" used in the id and name of the prototype
      // with a number that's unique to your records
      // end name attribute looks like name="contact[record][2]"
      newWidget = newWidget.replace(/__name__/g, counter);
      // Increase the counter
      counter++;
      // And store it, the length cannot be used if deleting widgets is allowed
      list.data('widget-counter', counter);

      // create a new list element and add it to the list
      var newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);
      newElem.appendTo(list);

    });
  });

</script>
</html>