<!DOCTYPE HTML>
<html>

    {% block stylesheets %}
    {{encore_entry_link_tags('app')}}
    {% endblock %}
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('display') }}">Display</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ path('lot_purchase') }}">Lot Purchase</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('owner_transfer') }}">Plot Release</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('burial_transit') }}">Burial Transit</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('plot_display') }}">Plots</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('owner_display') }}">Owners</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('burial_display') }}">Burials</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </body>

<script>
  $(".nav .nav-link").on("click", function(){
   $(".nav").find(".active").removeClass("active");
   $(this).addClass("active");
  });
</script>


</html>

