<!DOCTYPE HTML>
<html>

    {% block stylesheets %}
    {{encore_entry_link_tags('app')}}
    {% endblock %}
<body>
  <div class = "w3-bar w3-green" >
      <div class="w3-left">
        <a class="w3-button w3-border" href="{{ path('display') }}">Display</a>
        <a class="w3-button w3-border" href="{{ path('lot_purchase') }}">Lot Purchase</a>
        <a class="w3-button w3-border" href="{{ path('owner_transfer') }}">Plot Release</a>
        <a class="w3-button w3-border" href="{{ path('burial_transit') }}">Burial Transit</a>
        <a class="w3-button w3-border" href="{{ path('plot_display') }}">Plots</a>
        <a class="w3-button w3-border" href="{{ path('owner_display') }}">Owners</a>
        <a class="w3-button w3-border" href="{{ path('burial_display') }}">Burials</a>
      </div>
    </div>
  </body>
</html>