<!DOCTYPE HTML>
<html>

    {% block stylesheets %}
    {{encore_entry_link_tags('app')}}
    {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {% set route_name =app.request.attributes.get('_route')%}


<body>
  <nav class="navbar nav-pills navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('display') }}">Display</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a {% if route_name == 'lot_purchase' %} class="nav-link active" {% else %} class="nav-link" {% endif %} href="{{ path('lot_purchase') }}">Lot Purchase</a>
            </li>
            <li class="nav-item">
              <a {% if route_name == 'owner_transfer' %} class="nav-link active" {% else %} class="nav-link" {% endif %} href="{{ path('owner_transfer') }}">Plot Release</a>
            </li>
            <li class="nav-item">
              <a {% if route_name == "burial_transit"%} class="nav-link active" {% else %} class="nav-link" {% endif %} href="{{ path('burial_transit') }}">Burial Transit</a>
            </li>
            <li class="nav-item">
              <a {% if route_name == "plot_display" %} class="nav-link active" {% else %} class="nav-link" {% endif %} href="{{ path('plot_display') }}">Plots</a>
            </li>
            <li class="nav-item">
              <a {% if route_name == "owner_display" %} class="nav-link active" {% else %} class="nav-link" {% endif %} href="{{ path('owner_display') }}">Owners</a>
            </li>
            <li class="nav-item">
              <a {% if route_name == "burial_display" %} class="nav-link active" {% else %} class="nav-link" {% endif %} href="{{ path('burial_display') }}">Burials</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </body>

<script>
  $(".navbar-nav a").on("click", function(){
    $(".navbar-nav").find(".active").removeClass("active");
    $(this).addClass("active");
  });
</script>


</html>

