{% import _self as plotMacros %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<div class="fixed-top">
{{ include('navbar.html.twig') }}
</div>
{% macro printPlotFieldRow(plotField) %}
  <div class="plot-fields-list">
    <label>Plot</label>
    <br>
    {{ form_label(plotField.cemetery) }}
    <br>
    {{ form_widget(plotField.cemetery) }}
  </div>
{% endmacro %}

<div class="container-fluid">
  <h2><b> Release of Burial Space Ownership Rights </b></h2>
  <!---<h3> Goshen City Cemeteries Violett, Oakridge & West Goshen </h3>-->
  <br>
  {{ form_start(form) }}
  <b>{{ form_label(form.date) }}</b>
  <br>
    {{ form_widget(form.date) }}
  <br>
  <b><label>Current Owner</label></b>
  {{ form_widget(form.from_owner) }}


  <div id="to_owner-fields-list"
      data-prototype="{{ form_widget(form.to_owner.vars.prototype)|e }}"
      data-widget-tags="{{ '<p></p>'|e }}"
      data-widget-counter="{{ form.to_owner|length }}">
  
  <br>
  <b><label>With Regard to:</label></b>
  <br>
  <b><p>Owner(s)</p></b>
  {% for to_ownerField in form.to_owner %}
    {{ to_ownerField }}
  {% endfor %}
  </div>
  <button type="button" class="add-another-collection-widget btn btn-primary" data-list-selector="#to_owner-fields-list">Add Recipient</button>


  <div id="plot-fields-list"
      data-prototype="{{ form_widget(form.plot.vars.prototype)|e }}"
      data-widget-tags="{{ '<p></p>'|e }}"
      data-widget-counter="{{ form.plot|length }}">
  <br>
  <br>
  <b><p>Plot(s)</p></b>
  {% for plotField in form.plot %}
    {{ plotField }}
  {% endfor %}
  </div>
  <button type="button" class="add-another-collection-widget btn btn-primary" data-list-selector="#plot-fields-list">Add Plot</button>
  <br>
  <br>
  {# {{ form_row(form.notarized) }} #}
  {{ form_row(form.submit, {'attr': {'class': 'btn btn-primary'} }) }}
</div>

    

<script>

  jQuery(document).ready(function () {
    jQuery('.add-another-collection-widget').click(function (e) {
      var list = jQuery(jQuery(this).attr('data-list-selector'));
      // Try to find the counter of the list or use the length of the list
      var counter = list.data('widget-counter') || list.children().length;

      // grab the prototype template
      var newWidget = list.attr('data-prototype');
      // replace the "__name__" used in the id and name of the prototype
      // with a number that's unique to your records
      // end name attribute looks like name="contact[record][2]"
      newWidget = newWidget.replace(/__name__/g, counter);
      // Increase the counter
      counter++;
      // And store it, the length cannot be used if deleting widgets is allowed
      list.data('widget-counter', counter);

      // create a new list element and add it to the list
      var newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);
      newElem.appendTo(list);

    });
  });

</script>